<template name="postUpvote">
  {{#if voted}}
      <a class="upvote-link unvotelinkclay voted action" href="#" title="{{_ "unvoted"}}" style="cursor: pointer;">
        <i class="icon-check action-icon" aria-hidden></i>
        <span class="sr-only">{{_ "upvoted"}}</span>
      </a>
   <!--    <br/>
      <p></p>
    {{#if upvoted}}
      <a class="downvote-link not-voted action" href="#" title="{{_ "downvote_"}}">
        <i class="icon-down action-icon" aria-hidden="true"></i>
        <span class="sr-only">{{_ "downvote_"}}</span>
      </a>
    {{/if}}
    {{#if downvoted}}
      <a class="upvote-link not-voted action" href="#" title="{{_ "upvote_"}}">
        <i class="icon-up action-icon" aria-hidden="true"></i>
        <span class="sr-only">{{_ "upvote_"}}</span>
      </a>
    {{/if}} -->
  {{else}}
    <a class="upvote-link upvotelinkclay not-voted action" href="#" title="{{_ "upvote_"}}">
      <i class="icon-up action-icon" aria-hidden="true"></i>
      <span class="sr-only">{{_ "upvote_"}}</span>
    </a>
    <br/>
    <a class="upvote-link downvotelinkclay not-voted action" href="#" title="{{_ "downvote_"}}">
      <i class="icon-down action-icon" aria-hidden="true"></i>
      <span class="sr-only">{{_ "downvote_"}}</span>
    </a>
  {{/if}}
</template>
